/*INITIAL FEATURES*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*INITIAL FEATURES END*/

/*IMPORTANT FOR MOBILE VISUALIZATION*/
@-o-viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0
}
/*IMPORTANT FOR MOBILE VISUALIZATION END*/

/*BODY*/
body{
    background-color: #ffffff;
}
/*BODY END*/

/*PHONE VERSION (DEFAULT STYLE)*/
/*MENU BLOCK*/
#menu{
    width: 98%;
    height: 460px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    /*opacity: 0;*/
    /*transition: opacity 1s ease-in-out;*/
}
#menu-logo{
    width: 305px;
    position: relative;
    z-index: 10;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#menu-form{
    width: 100%;
    padding: 50px 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
form *{
    font-family: 'Jost', sans-serif;
    color: #454545;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
label[for="language"], label[for="location"]{
    display: block;
    padding-bottom: 9px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
}
#language, #location{
    display: block;
    height: 33px;
    width: 305px;
    background-color: #444444;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
}
#language option, #location option{
    background-color: #444444;
    color: #ffffff;
}
#menu-submit{
    display: block;
    height: 33px;
    width: 305px;
    margin-top: 24px;
    background-color: #ef8b8b;
    color: #ffffff;
    /*letter-spacing: 2px;*/
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
}
/*MENU BLOCK END*/

/*MAIN CONTENT BLOCK*/
#preferences-btn-container{
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#preferences-btn{
    display: block;
    height: 33px;
    width: 315px;
    background-color: #ef8b8b;
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    margin: 0px;
}
#logo-container{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#main-logo{
    width: 315px;
    margin: 0px;
}
/*-----------------------------------------------*/
#containerx0{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    /*margin: 0 auto;*/
    font-family: 'Jost', sans-serif;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 0px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx0 h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #454545;
    border-top: 3px solid #ef8b8b;
    padding: 0.5rem 0rem;
}
#containerx0 p{
    text-align: center;
    font-size: 1rem;
    color: #454545;
    letter-spacing: 0.1px;
    border-bottom: 3px solid #ef8b8b;
    padding: 0.5rem 0rem;
}
#containerx0 p.no-border{
    border-bottom: none;
    margin-bottom: 1rem;
}
/*-----------------------------------------------*/
#containerx2{
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    width: 100%;
    margin: 0 auto;
    font-family: 'Jost', sans-serif;
    background-color: #ef8b8b;
    border-radius: 0px;
    padding-top: 30px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx2 img{
    width: 100%;
    display: block;
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 50% 40%;
}
/*-----------------------------------------------*/
#containerx3{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    font-family: 'Jost', sans-serif;
    background-color: #ef8b8b;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx3 h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #ffffff;
    padding: 0.5rem 0rem;
}
#containerx3 p{
    padding: 0.5rem 0rem;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.1px;
    border-radius: 6px;
    margin-bottom: 1rem;
}
#containerx3 p.odd{
    text-align: center;
    font-size: 1rem;
    color: #454545;
    background-color: #ffffff;
    letter-spacing: 0.1px;
    padding: 0.5rem 1rem;
}
#containerx3 p#text8{
    margin-bottom: 0px;
}
/*-----------------------------------------------*/
#containerx4{
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    width: 100%;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #ef8b8b 50%, #8c9cac 50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx4 img{
    width: 100%;
    display: block;
    border-top-left-radius: 0%;
    border-top-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 0%;
}
/*-----------------------------------------------*/
#containerx6{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    font-family: 'Jost', sans-serif;
    background-color: #8c9cac;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx6 h2{
    text-align: center;
    color: #ffffff;
    padding: 0.5rem 0rem;
}
/*-----------------------------------------------*/
#containerx7{
    padding-top: 0rem;
    padding-bottom: 30px;
    padding-right: 0rem;
    padding-left: 0rem;
    width: 100%;
    font-family: 'Jost', sans-serif;
    background-color: #8c9cac;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx7 img{
    width: 100%;
    display: block;
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 50% 40%;
}
/*-----------------------------------------------*/
#containerx8{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx8 h2{
    width: 90%;
    font-family: 'Jost', sans-serif;
    color: #454545;
    text-align: center;
    margin-bottom: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
}
#containerx8 .date{
    font-family: 'Jost', sans-serif;
    color: #454545;
    text-align: center;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.border1{
    border-top: 3px solid #8c9cac;
    border-left: 3px solid #8c9cac;
    border-right: 3px solid #8c9cac;
    border-bottom: 1px dashed #8c9cac;
    border-radius: 24px 24px 0px 0px;
}
.border2{
    border-bottom: 3px solid #8c9cac;
    border-left: 3px solid #8c9cac;
    border-right: 3px solid #8c9cac;
    border-top: 1px dashed #8c9cac;
    border-radius: 0px 0px 24px 24px;
}
#registration-form{
    width: 100%;
    padding: 0px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#registration-form *{
    font-family: 'Jost', sans-serif;
    color: #454545;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
label[for="name"], label[for="email"], label[for="phone"], label[for="city"]{
    display: block;
    padding-bottom: 9px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
#name, #email, #phone, #city{
    display: block;
    height: 33px;
    width: 90%;
    background-color: #8c9cac;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 300;
}
#name:focus, #email:focus, #phone:focus, #city:focus{
    background-color: #ffffff;
    border: 3px solid #8c9cac;
    color: #454545;
}
#registration-submit{
    display: block;
    height: 33px;
    width: 90%;
    margin-top: 24px;
    background-color: #ef8b8b;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}
/*-----------------------------------------------*/
#containerx9{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    font-family: 'Jost', sans-serif;
    background-color: #333333;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    /*margin-top: 15px;*/
}
#containerx9 p{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.1px;
    padding: 0.5rem 0rem;
}
#copy{
    width: 1rem;
    transform: translate(-5px, +2px);
}
#containerx9 a{
    color: #ffffff;
    background-color: none;
    text-decoration: none;
}
#containerx9 a:hover{
    color: #ef8b8b;
}
#containerx9 a:active{
    color: #8c9cac;
}
/*-----------------------------------------------*/
#city1, #city2, #city3{
    text-transform: capitalize;
}
/*MAIN CONTENT BLOCK END*/
/*PHONE VERSION (DEFAULT STYLE) END*/
/*/////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////*/
/*COMPUTER VERSION (ONLY CHANGES REQUIRED FOR BIGGER SCREEN) END*/
@media (min-width: 481px) and (max-width: 767px){
    /*MENU BLOCK*/
    /*
    Everything Validated
    */
    /*MENU BLOCK END*/
    /*MAIN CONTENT BLOCK*/
    .main-common{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "preferences-btn-container preferences-btn-container"
        "logo-container logo-container"
        "containerx0 containerx0"
        "containerx2 containerx3"
        "containerx4 containerx4"
        "containerx6 containerx7"
        "containerx8 containerx8"
        "containerx9 containerx9";
    }
    #preferences-btn-container{grid-area: preferences-btn-container;}
    #logo-container{grid-area: logo-container;}
    #containerx0{grid-area: containerx0;}
    #containerx2{grid-area: containerx2;}
    #containerx3{grid-area: containerx3;}
    #containerx4{grid-area: containerx4;}
    #containerx6{grid-area: containerx6;}
    #containerx7{grid-area: containerx7;}
    #containerx8{grid-area: containerx8;}
    #containerx9{grid-area: containerx9;}
    
    #containerx2{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #containerx2 img{
        width: 80%;
    }

    #containerx3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #containerx4{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #ef8b8b, #8c9cac);
    }
    #containerx4 img{
        width: 80%;
    }

    #containerx6{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #containerx7{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #containerx7 img{
        width: 80%;
    }

    #containerx8 .date{
        width: 70%;
    }
    #name, #email, #phone, #city{
        width: 70%;
    }
    #registration-submit{
        width: 70%;
    }
    /*MAIN CONTENT BLOCK END*/
}

@media (min-width: 768px){
    /*MENU BLOCK*/
    /*
    Everything Validated
    */
    /*MENU BLOCK END*/
    /*MAIN CONTENT BLOCK*/
    .main-common{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "preferences-btn-container preferences-btn-container preferences-btn-container"
        "logo-container logo-container logo-container"
        "containerx0 containerx0 containerx0"
        "containerx2 containerx3 containerx3"
        "containerx4 containerx6 containerx7"
        "containerx8 containerx8 containerx8"
        "containerx9 containerx9 containerx9";
    }
    #preferences-btn-container{grid-area: preferences-btn-container;}
    #logo-container{grid-area: logo-container;}
    #containerx0{grid-area: containerx0;}
    #containerx2{grid-area: containerx2;}
    #containerx3{grid-area: containerx3;}
    #containerx4{grid-area: containerx4;}
    #containerx6{grid-area: containerx6;}
    #containerx7{grid-area: containerx7;}
    #containerx8{grid-area: containerx8;}
    #containerx9{grid-area: containerx9;}
    
    #containerx2{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #containerx2 img{
        width: 80%;
    }

    #containerx3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #containerx4{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        background-color: #ef8b8b;
    }
    #containerx4 img{
        width: 80%;
    }

    #containerx6{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #containerx7{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #containerx7 img{
        width: 80%;
    }

    #containerx8 .date{
        width: 60%;
    }
    #name, #email, #phone, #city{
        width: 60%;
    }
    #registration-submit{
        width: 60%;
    }
    /*MAIN CONTENT BLOCK END*/
}

@media (min-width: 1000px){
    /*MENU BLOCK*/
    /*
    Everything Validated
    */
    /*MENU BLOCK END*/
    /*MAIN CONTENT BLOCK*/
    .main-common{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "preferences-btn-container preferences-btn-container preferences-btn-container preferences-btn-container preferences-btn-container preferences-btn-container"
        "logo-container logo-container logo-container logo-container logo-container logo-container"
        "containerx0 containerx0 containerx0 containerx0 containerx0 containerx0"
        "containerx2 containerx2 containerx3 containerx3 containerx4 containerx4"
        "containerx6 containerx6 containerx6 containerx8 containerx8 containerx8"
        "containerx7 containerx7 containerx7 containerx8 containerx8 containerx8"
        "containerx9 containerx9 containerx9 containerx9 containerx9 containerx9";
    }
    #preferences-btn-container{grid-area: preferences-btn-container;}
    #logo-container{grid-area: logo-container;}
    #containerx0{grid-area: containerx0;}
    #containerx2{grid-area: containerx2;}
    #containerx3{grid-area: containerx3;}
    #containerx4{grid-area: containerx4;}
    #containerx6{grid-area: containerx6;}
    #containerx7{grid-area: containerx7;}
    #containerx8{grid-area: containerx8;}
    #containerx9{grid-area: containerx9;}
    
    #containerx2 img{
        width: 60%;
    }
    #containerx4 img{
        width: 60%;
    }
    #containerx7 img{
        width: 60%;
    }
    #containerx8 .date{
        width: 50%;
    }
    #name, #email, #phone, #city{
        width: 50%;
    }
    #registration-submit{
        width: 50%;
    }
    #containerx8{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*MAIN CONTENT BLOCK END*/
}
/*COMPUTER VERSION (ONLY CHANGES REQUIRED FOR BIGGER SCREEN) END*/

/*
*{
    border: 1px solid #ef8b8b;
}
*/
