/*INITIAL FEATURES*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*INITIAL FEATURES END*/

/*IMPORTANT FOR MOBILE VISUALIZATION*/
@-o-viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0
}
/*IMPORTANT FOR MOBILE VISUALIZATION END*/

/*BODY*/
body{
    background-color: #ffffff;
}
/*BODY END*/

/*PHONE VERSION (DEFAULT STYLE)*/
/*MENU BLOCK*/
#menu{
    width: 98%;
    height: 460px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000000;
    
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#menu-logo{
    width: 305px;
    position: relative;
    z-index: 10;
}
#menu-form{
    width: 100%;
    padding: 50px 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
form *{
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
label[for="language"], label[for="location"]{
    display: block;
    padding-bottom: 9px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
#language, #location{
    display: block;
    height: 33px;
    width: 305px;
    background-color: #444444;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 300;
}
#language option, #location option{
    background-color: #444444;
    color: #ffffff;
}
#menu-submit{
    display: block;
    height: 33px;
    width: 305px;
    margin-top: 24px;
    background-color: #ef8b8b;
    color: #ffffff;
    /*letter-spacing: 2px;*/
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

#menu-logo{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
label[for="language"]{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#language{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
label[for="location"]{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#location{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#menu-submit{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
/*MENU BLOCK END*/
/*MAIN CONTENT BLOCK*/
#main-content{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#preferences-btn-container{
    background-color: #454545;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#preferences-btn{
    display: block;
    height: 33px;
    width: 315px;
    background-color: #272727;
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}
#logo-container{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#main-logo{
    width: 315px;
}
/*-----------------------------------------------*/
/*
#containerx0top{
    height: 9px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #9c7ea0;
}
*/
#containerx0{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    margin: 0 auto;
    font-family: 'Jost', sans-serif;
    background-color: #9c7ea0;
    border-radius: 0px 0px 0px 0px;
}
.white-line{
    height: 9px;
    margin-bottom: 1rem;
    background-color: #ffffff;
}
#containerx0 h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #ffffff;
}
#containerx0 p{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.1px;
}
/*-----------------------------------------------*/
/*
#containerx1top{
    height: 9px;
    width: 98%;
    margin-top: 30px;
    margin-bottom: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #454545;
*/
#containerx1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    margin: 0 auto;
    font-family: 'Jost', sans-serif;
    background-color: #454545;
    border-radius: 0px 0px 0px 0px;
}
#containerx1 p{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.1px;
}
/*-----------------------------------------------*/
#containerx2{
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    width: 100%;
    margin: 0 auto;
    font-family: 'Jost', sans-serif;
    /*background-color: #9c7ea0;*/
    background: linear-gradient(to bottom, #454545, #9c7ea0);
    /*margin-top: 30px;*/
    border-radius: 0px;
}
#containerx2 img{
    width: 100%;
    display: block;
    border-radius: 0px 120px 0px 120px;
}
/*-----------------------------------------------*/
/*
#containerx3top{
    height: 9px;
    width: 98%;
    margin-top: 30px;
    margin-bottom: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #9c7ea0;
}
*/
#containerx3{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    margin: 0 auto;
    font-family: 'Jost', sans-serif;
    background-color: #9c7ea0;
    border-radius: 0px 0px 0px 0px;
}
#containerx3 h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #ffffff;
}
#containerx3 p{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.1px;
    border-radius: 6px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
#containerx3 p.odd{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    background-color: #454545;
    letter-spacing: 0.1px;
}
/*-----------------------------------------------*/
#containerx4{
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    width: 100%;
    margin: 0 auto;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #9c7ea0, #454545);
    /*margin-top: 30px;*/
    border-radius: 0px;
}
#containerx4 img{
    width: 100%;
    display: block;
    border-radius: 120px 0px 0px 0px;
}
/*-----------------------------------------------*/
/*
#containerx5top{
    height: 9px;
    width: 98%;
    margin-top: 30px;
    margin-bottom: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #454545;
}
*/
#containerx5{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    margin: 0 auto;
    font-family: 'Jost', sans-serif;
    background-color: #454545;
    border-radius: 0px 0px 0px 0px;
}
#containerx5 h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #ffffff;
}
#containerx5 p{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.1px;
    border-radius: 6px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
#containerx5 p.odd{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    background-color: #9c7ea0;
    letter-spacing: 0.1px;
}
/*-----------------------------------------------*/
#containerx6{
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    width: 100%;
    margin: 0 auto;
    font-family: 'Jost', sans-serif;
    /*background-color: #8c9cac;*/
    background: linear-gradient(to bottom, #8c9cac 70%, #000000 30%);
    /*margin-top: 30px;*/
    border-radius: 0px;
}
#containerx6 h2{
    text-align: center;
    margin-bottom: 1rem;
    color: #ffffff;
}
#containerx6 p{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0.1px;
    border-radius: 6px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
}
#containerx6 img{
    width: 100%;
    display: block;
    border-radius: 120px 0px 120px 0px;
    /*opacity: 0.1;*/
}
/*-----------------------------------------------*/
#containerx7{
    width: 100%;
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000000;
}
#containerx7 h2{
    width: 90%;
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
}
#containerx7 .date{
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
}
#border1{
    border-top: 3px solid #8c9cac;
    border-left: 3px solid #8c9cac;
    border-right: 3px solid #8c9cac;
    border-bottom: 1px dashed #8c9cac;
    border-radius: 24px 24px 0px 0px;
}
#border2{
    border-bottom: 3px solid #8c9cac;
    border-left: 3px solid #8c9cac;
    border-right: 3px solid #8c9cac;
    border-top: 1px dashed #8c9cac;
    border-radius: 0px 0px 24px 24px;
}
#registration-form{
    width: 100%;
    padding: 0px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#registration-form *{
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
label[for="name"], label[for="email"], label[for="phone"], label[for="location2"]{
    display: block;
    padding-bottom: 9px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
#name, #email, #phone{
    display: block;
    height: 33px;
    width: 90%;
    background-color: #454545;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 300;
}
#registration-submit{
    display: block;
    height: 33px;
    width: 90%;
    margin-top: 24px;
    background-color: #ef8b8b;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

#preferences-btn-container{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#preferences-btn{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#logo-container{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx0top{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx1top{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx3top{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx5top{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx0{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx1{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx2{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx3{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx4{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx5{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx6{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#containerx7{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
/*MAIN CONTENT BLOCK END*/
/*PHONE VERSION  (DEFAULT STYLE) END*/





#preferences-btn-container{
    grid-area: preferences-btn-container;
}
#logo-container{
    grid-area: logo-container;
}
#containerx0top{
    grid-area: containerx0top;
}
#containerx1top{
    grid-area: containerx1top;
}
#containerx3top{
    grid-area: containerx3top;
}
#containerx5top{
    grid-area: containerx5top;
}
#containerx0{
    grid-area: containerx0;
}
#containerx1{
    grid-area: containerx1;
}
#containerx2{
    grid-area: containerx2;
}
#containerx3{
    grid-area: containerx3;
}
#containerx4{
    grid-area: containerx4;
}
#containerx5{
    grid-area: containerx5;
}
#containerx6{
    grid-area: containerx6;
}
#containerx7{
    grid-area: containerx7;
}











/*COMPUTER VERSION (ONLY CHANGES REQUIRED FOR BIGGER SCREEN)*/
/*
@media (min-width: 550px){
    #main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "preferences-btn-container preferences-btn-container"
        "logo-container logo-container"
        "containerx2 containerx0top"
        "containerx2 containerx0"
        "containerx2 containerx1top"
        "containerx2 containerx1"
        "containerx5top containerx4"
        "containerx5 containerx4"
        "containerx3top containerx6"
        "containerx3 containerx6"
        "containerx7 containerx7";
    }
}
*/









@media (min-width: 601px){
    /*MENU BLOCK*/
    #menu{
        width: 60%;
    }
    /*MENU BLOCK END*/
}
/*COMPUTER VERSION (ONLY CHANGES REQUIRED FOR BIGGER SCREEN) END*/
